.DS_Store
.idea/
*.iml
*.log
.vscode/

**/build/
**/.gradle/
**/out/
**/local.properties
**/captures/
.externalNativeBuild/
.cxx/
vendor/jres/

gradle-app.setting
!gradle-wrapper.jar
.gradle_home

ui/.dart_tool/
ui/.flutter-plugins
ui/.flutter-plugins-dependencies
ui/.packages
ui/.pub-cache/
ui/.pub/
ui/build/
ui/pubspec.lock

ui/android/local.properties
ui/android/GeneratedPluginRegistrant.java
ui/android/.gradle/

**/Podfile.lock
**/Pods/
**/DerivedData/
ui/ios/.generated/

ui/linux/flutter/ephemeral/
ui/windows/flutter/ephemeral/
ui/macos/Flutter/ephemeral/
ui/macos/jre/

*.so
*.apk
*.aar
*.jar
!engine/lib/build/libs/lib-desktop.jar
