*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

*.iml
*.ipr
*.iws
.idea/
.gradle/
local.properties
captures/
.externalNativeBuild/
.cxx/
*.jks
*.keystore

**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/
app.*.symbols
app.*.map.json

# Linux specific Flutter build
linux/flutter/ephemeral/
linux/flutter/generated_config

**/kotlin_engine/build/
**/kotlin_engine/.gradle/

**/assets/jre/
**/assets/engine/*.jar

.vscode/
